---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Caracolaracol | Portfolio">
  <h1 transition:name="hero" class="font-tommyMedium tablet:tracking-wide tablet:text-5xl laptop:text-5xl desktop:text-5xl laptop:tracking-normal cursor-default overflow-hidden text-[2.4rem]">
    Título del portafolio{" "}
</h1>
<!--     <div class="transition-opacity-0">
        <div class="absolute flex justify-center items-center m-[5vw] top-0 right-0 bottom-0 left-0 laptop:hidden "> 
          <div class="flex items-center justify-center desktop:max-w-[50rem] pb-4 gap-[10vw]">
            <div class='flex items-center flex-col '>
              <div class='flex items-center flex-col mt-4'>
                
              </div>
            </div>
            <div>

            </div>
          </div>
        </div>
        <div class="hidden laptop:flex items-center justify-center">

        </div>
      </div> -->
</MainLayout>
